nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.navbar-logo {
  font-size: 2rem;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

.nav-link {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #8bd0d300;
  transition: all 0.4s ease-in;

  &:hover {
    border-bottom-color: #8bd0d3;
  }
}
